# Port aplikasi
PORT=3000

# JWT Secret untuk otentikasi user
JWT_SECRET=your_jwt_secret_here

# Internal Secret untuk komunikasi antar service
# PENTING: Harus sama di semua service yang saling berkomunikasi
INTERNAL_SECRET=your_internal_secret_here

# URL Service
AUTH_SERVICE_URL=http://auth-service:3001
FOOTBALL_SERVICE_URL=http://football-service:3002
FORUM_SERVICE_URL=http://forum-service:3003